# Database (SQLite default or PostgreSQL)
#APP_DB_URL=postgresql://postgres:12102004@localhost:5432/viet_disaster_watch
# Security
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7

# Caching (Redis for high performance)
REDIS_URL=redis://localhost:6379/0

# Crawler
CRAWL_INTERVAL_MINUTES=60
# List of proxies in JSON format
CRAWLER_PROXIES='[]'
