# Database (SQLite default or PostgreSQL)
# APP_DB_URL=postgresql://user:pass@localhost/dbname

# Security
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7

# SMTP (Email Notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_TLS=True

# Crawler
CRAWL_INTERVAL_MINUTES=60
